/* Smooth fade by default */
.htmx-settling {
    opacity: 0;
}

.fade-swap {
    opacity: 1;
    transition: opacity 200ms ease;
}

/* While HTMX is swapping this element out */
.fade-swap.htmx-swapping {
    opacity: 0;
}