{{ block "edit" . }}
{{ template "layout-head" . }}
{{ template "edit-form" . }}
{{ template "layout-foot" . }}
{{ end }}

{{ block "edit-form" . }}

<form action="/contacts/{{ .ID }}/edit" method="post">
    <fieldset>
        <legend>Contact Values</legend>
        <div class="table rows">

            <p>
                <label for="email">Email</label>
                <input name="email" id="email" type="email" hx-get="/contacts/{{ .ID }}/email"
                    hx-trigger="change, keyup delay:200ms changed" hx-target="next .error" placeholder="Email"
                    value="{{ .Email }}">
                {{ template "error_email" . }}
            </p>
            <p>
                <label for="first_name">First Name</label>
                <input name="first_name" id="first_name" type="text" placeholder="First Name" value="{{ .First }}">
                <span class="error">{{ index .Errors "first" }}</span>
            </p>
            <p>
                <label for="last_name">Last Name</label>
                <input name="last_name" id="last_name" type="text" placeholder="Last Name" value="{{ .Last }}">
                <span class="error">{{ index .Errors "last" }}</span>
            </p>
            <p>
                <label for="phone">Phone</label>
                <input name="phone" id="phone" type="text" placeholder="Phone" value="{{ .Phone }}">
                <span class="error">{{ index .Errors "phone" }}</span>
            </p>
        </div>
        <button class="btn-outline">Save</button>
    </fieldset>
</form>


<div class="flex flex-row">
    <p>
        <a href="/contacts/" class="btn-outline">Back</a>
    </p>
    <button class="btn-destructive" id="delete-btn" hx-delete="/contacts/{{ .ID }}" hx-target="body" hx-push-url="true"
        hx-confirm="Are you sure you want to delete this contact?">Delete Contact</button>

</div>

{{ end }}

{{ block "error_email" . }}
<span class="error">{{ index .Errors "email" }}</span>
{{end}}


{{ block "sucess-edit" . }}
<div class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10" />
        <path d="m9 12 2 2 4-4" />
    </svg>
    <h2>Success! Your changes have been saved</h2>
    <section>This is an alert with icon, title and description.</section>
</div>
<script>
    setTimeout(() => {
        window.location.href = '/contacts/{{ .ID }}';
    }, 1000);
</script>
{{ end }}

{{ block "sucess-delete" . }}
<div id="success-message" class="sucess">
    Contact deleted successfully! Redirecting...
</div>
<script>
    setTimeout(() => {
        window.location.href = '/contacts/{{ .ID }}';
    }, 1000);
</script>
{{ end }}