{{ block "index" . }}
{{ template "layout-head" . }}
{{ template "index-content". }}
{{ template "layout-foot" . }}
{{ end }}


{{ block "index-content" . }}
<main>
    <header>
        <h1>
            <all-caps>contacts.app</all-caps>
            <sub-title>A Demo Contacts Application</sub-title>
        </h1>
    </header>
    <p>
        <a href="/contacts/new">Add Contact</a>
        <span hx-get="/contacts/count" hx-trigger="revealed">
            <img id="spinner" class="htmx-indicator" src="/static/img/spinning-circles.svg" />
        </span>
    </p>
    {{ template "archive_ui" . }}
    <hr>
    {{ template "form" . }}
    {{ template "contact_table" . }}
</main>
{{end}}

<!-- Make spinning circle appear -->
{{ block "form" . }}
<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ .Query }}" hx-get="/contacts" hx-push-url="true"
        hx-trigger="search, keyup delay:200ms changed" hx-target="tbody" hx-select="tbody tr" hx-indicator="#spinner" />
    <input type="submit" value="Search" />

</form>
{{ end }}


{{ block "contact_table" . }}
<hr>
<form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>First</th>
                <th>Last</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        {{ template "rows" . }}
    </table>
    <p style="float: right">
        {{ if gt .Page 1 }}
        <a href="/contacts?page={{ add .Page -1 }}">Previous</a>
        {{ end }}
        {{ if eq (len .Contacts) 10 }}
        <a href="/contacts?page={{ add .Page 1 }}">Next</a>
        {{ end }}
    </p>
    <button hx-delete="/contacts" hx-confirm="Are you sure you want to delete these contacts?" hx-target="body">
        Delete Selected Contacts
    </button>
</form>
{{end}}