{{ block "layout-head" . }}
<!doctype html>
<html lang="">

<head>
    <title>Contact App</title>
    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <link rel="stylesheet" href="/static/site.css">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.js"
        integrity="sha384-oeUn82QNXPuVkGCkcrInrS1twIxKhkZiFfr2TdiuObZ3n3yIeMiqcRzkIcguaof1" crossorigin="anonymous">
        </script>
</head>

<body hx-boost="true">
    {{ end }}



    {{ block "layout-foot" . }}
</body>

</html>
{{ end }}