{{ block "new" . }}
{{ template "layout-head" . }}
{{ template "add-form" . }}
{{ template "layout-foot" . }}
{{ end }}

{{ block "add-form" . }}

<div class="flex flex-col items-center">
    <form class="form grid gap-6" action="/contacts/new" method="post">
        <fieldset>
            <legend class="text-[30] font-bold mb-[10px]">Contact Values</legend>
            <div class="table rows">
                <p>
                    <label for="email" class="mb-[10px]">Email</label>
                <div class="flex flex-row gap-6 mb-[20px]">
                    <input class="w-80" name="email" type="email" placeholder="Email" value="{{ .Email }}">
                    <span class="error">{{ index .Errors "email"}}</span>
                </div>
                </p>
                <p>
                    <label for="first_name" class="mb-[10px]">First Name</label>
                <div class="flex flex-row gap-6 mb-[20px]">
                    <input class="w-80" name="first_name" id="first_name" type="text" placeholder="First Name"
                        value="{{ .First }}">
                    <span class="error">{{ index .Errors "first" }}</span>
                </div>
                </p>
                <p>
                    <label for="last_name" class="mb-[10px]">Last Name</label>
                <div class="flex flex-row gap-6 mb-[20px]">
                    <input class="w-80" name="last_name" id="last_name" type="text" placeholder="Last Name"
                        value="{{ .Last }}">
                    <span class="error">{{ index .Errors "last" }}</span>
                </div>
                </p>
                <p>
                    <label for="phone" class="mb-[10px]">Phone</label>
                <div class="flex flex-row gap-6 mb-[20px]">
                    <input class="w-80" name="phone" id="phone" type="text" placeholder="Phone" value="{{ .Phone }}">
                    <span class="error">{{ index .Errors "phone" }}</span>
                </div>
                </p>
            </div>
            <button class="btn-outline">Save</button>
            <p class=" mt-[10px]">
                <a href="/contacts" class="btn">Back</a>
            </p>
        </fieldset>
    </form>

</div>
{{ end }}


{{ block "sucess-new" . }}
<div class="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="10" />
        <path d="m9 12 2 2 4-4" />
    </svg>
    <h2>Contact added successfully</h2>
    <section>This is an alert with icon, title and description.</section>
</div>
<script>
    setTimeout(() => {
        window.location.href = '/contacts';
    }, 1000);
</script>
{{ end }}